<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script>
    $("li:contains('Earned ')").css("color", "green");
  </script>
</head>

<body>

  <div class="jumbotron">
    <h4 class="navbar navbar-expand-lg navbar-dark bg-primary">TOP SCORES: <span class="score" *ngFor="let score of topvalues">  {{score}} </span> </h4>
    <div class="float-right">
      <h2>Top Player: {{title}}</h2>
      <input style="margin: 10px;" type="text" #playerName [value]="first_name">
      <button type="button" (click)="btnSessionSave(playerName)" name="Save" class="btn btn-primary">Save game</button>
    </div>
    <h1>Ninja Gold</h1>
    <h3>Gold Count: {{points}}</h3>

  </div>
  <div class="wrapper">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Farm</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Earns 2 - 5 Gold</li><br>
          </ul>
          <button type="button" (click)="btnPlay($event)" name="Farm"
            class="btn btn-lg btn-block btn-primary">Farm!</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Cave</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Earns 5 - 10 Gold</li><br>
          </ul>
          <button type="button" (click)="btnPlay($event)" name="Cave"
            class="btn btn-lg btn-block btn-primary">Cave!</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Casino</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Earn up to or Lose up to 100 Gold</li>
          </ul>
          <button type="button" (click)="btnPlay($event)" name="Casino"
            class="btn btn-lg btn-block btn-primary">Casino!</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">House</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Earns 7 - 15 Gold</li><br>
          </ul>
          <button type="button" (click)="btnPlay($event)" name="House"
            class="btn btn-lg btn-block btn-primary">House!</button>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Transactions</h4>
      </div>
      <div class="card-body">
        <ul class="list-inline-item mt-3 mb-4 transactions">
          <li *ngFor="let tran of transactions">
            <p *ngIf="tran.action == 'lost'" style="color: red;">{{tran.entry}}</p>
            <p *ngIf="tran.action == 'earned'" style="color: green;">{{tran.entry}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>